*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Helvetica, -apple-system, "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Microsoft Yahei","Helvetica Neue",Helvetica;
}
#app {
    width: 100%;
    height: 100%;
}
  
a {
    text-decoration: none;
}

.el-header {
    background-color: #FFF;
    color: #333;
    line-height: 61px;
    height: 61px !important; 
    text-align: right; 
    font-size: 12px; 
    border-bottom: solid 1px #e6e6e6;
}

.el-aside {
    color: #333;
    position: fixed;
    bottom: 0;
    top: 61px;
}

.el-main {
    padding: 0;
}

.main-container {
    width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.el-breadcrumb {
    position: relative;
    border-radius: 0;
    border-bottom: 1px solid #c8ced3;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0;
}