{< define "login/register.html" >}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GreenHouseDoc 文档管理平台</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/vendor/login/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/vendor/login/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/vendor/login/css/form-elements.css">
        <link rel="stylesheet" href="static/vendor/login/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="static/vendor/login/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/vendor/login/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/vendor/login/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/vendor/login/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/vendor/login/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content" id="app">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>GreenHouseDoc</strong> 文档管理平台</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>用户注册</h3>
                        		</div>
                            </div>
                            <div class="form-bottom form-horizontal">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="text" v-model="form.email" class="form-control" id="inputEmail3" placeholder="请输入邮箱">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputNickname" class="col-sm-2 control-label">昵称</label>
                                    <div class="col-sm-10">
                                        <input type="text" v-model="form.nickname" class="form-control" id="inputNickname" placeholder="请输入昵称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" v-model="form.password" class="form-control" id="inputPassword3" placeholder="请输入密码">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputVerifyCode" class="col-sm-2 control-label">验证码</label>
                                    <div class="col-sm-5">
                                        <input type="text" v-model="form.verify_code" class="form-control" id="inputVerifyCode" placeholder="验证码">
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="http://wiki.evente.cn/captcha" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: center;">
                                        <button type="submit" @click="startRegister" class="btn btn-default btn-sm" style="width:200px">立即注册</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        已有账号？<a href="/login" title="立即登录">立即登录</a>
                                    </div>
                                </div>
		                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>

        <!-- Javascript -->
        <script src="static/vendor/login/js/jquery-1.11.1.min.js"></script>
        <script src="static/vendor/login/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/vendor/login/js/jquery.backstretch.min.js"></script>
        <script src="static/vendor/login/js/scripts.js"></script>
        <script type="text/javascript" src="/static/vendor/vue@2.6.10/vue.min.js"></script>
        
        <!--[if lt IE 10]>
            <script src="static/vendor/login/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
<script type="text/javascript">
    var vueApp = new Vue({
        el: '#app',
        data: {
            form: {
                email: 'aa@gmail.com',
                nickname: '',
                password: '',
                verify_code: ''
            },
            is_submitting: false,
        },
        computed: function () {

        },
        created: function () {

        },
        methods: {
            startRegister: function () {
                var _this = this;
                var request = $.ajax({
                    url: "/register",
                    method: "POST",
                    data: _this.form
                });
                
                request.done(function( msg ) {
                    $( "#log" ).html( msg );
                });
                
                request.fail(function( jqXHR, textStatus ) {
                    alert( "Request failed: " + textStatus );
                });
            }
        }
    })
</script>

{< end >}