@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
}

.el-header {
    background-color: #FFF;
    color: #333;
    line-height: 61px;
}

.el-aside {
    color: #333;
    position: fixed;
    bottom: 0;
    top: 61px;
    /* background-color: rgb(84, 92, 100); */
}
.el-main {
    padding: 0;
    margin-left: 200px;
}

.el-breadcrumb {
    position: relative;
    border-radius: 0;
    border-bottom: 1px solid #c8ced3;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0;
}

.main-container {
    margin: 20px;
}